* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

.formulario{
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.form-control{
    width: 100%;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}
body{
    background-color: #c6c6c6;
}

.formulario p {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    text-align: start;
    }
