div.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.texto{
    position: relative;
	width: 150px;
	display: inline-block;
    margin-inline: 100px;

}
img{
    position: relative;
    width: 600px;
    display: inline-block;
    margin-inline: 100px;
}
.container{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn1{
    background-color: rgb(241, 47, 47);
    font-size: larger;
    border-radius: 10px;
    font-weight: bold;
}
.btn2{
    background-color: rgb(34, 196, 255);
    font-size: larger;
    border-radius: 10px;
    font-weight: bold;
}
h1{
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}